* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

header {
    color: white;
    font-size: 120%;
    background-image: linear-gradient(rgb(0, 170, 255), rgb(14, 2, 239));
    height: 60px;
    text-align: center;
    padding: 7px;
}

h1,
h2,
h3 {
    font-weight: bold;
}

button {
    margin-top: 10px;
    background-color: lightblue;
    border-radius: 6px;
    width: 56%;
}

button:hover {
    background-color: rgb(214, 245, 255);
}

button:active {
    transition: none;
    background-color: rgb(130, 223, 255)
}

hr {
    border: 1px solid black;
    width: 56%;
    margin: 20px auto 10px;
}

.mainBody {
    margin: 0;
}

.searchArea {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.searchArea input {
    width: 56%;
    border-radius: 3px;
    text-align: center;
}

.forecasts {
    margin: 10px;
    border: 3px solid blue;
}

.currentFC {
    font-weight: bold;
}

.currentTitle {
    font-size: 130%;
}

.icon {
    height: 50px;
    width: 50px;
}

